include ./templates/header
include ./templates/navbar

.container.my-5.p-2
    p.display-4 About me
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit dolorem id inventore incidunt maxime, velit qui alias, accusantium debitis in eligendi et dolore aperiam eum illo consequuntur nihil voluptatibus unde?Exercitationem, dignissimos cumque. Voluptas, dolorum illum sed voluptatem provident ex earum sint aliquid eligendi distinctio exercitationem commodi tempore beatae porro suscipit aut placeat necessitatibus dolore ea laudantium debitis laborum adipisci.

include ./templates/footer
