include ./templates/header
include ./templates/navbar

.container.my-5.p-5
    form
        .row.justify-content-center
            .col-md-4
                .form-group
                    label(for='loginInput') Nazwa
                    input#loginInput.form-control.shadow-sm.p-3.mb-5.bg-white.rounded(type='text', aria-describedby='emailHelp', placeholder='Wprowadź nazwę użytkownika')
        .row.justify-content-center
            .col-md-4
                .form-group
                    label(for='passwdInput') Hasło
                    input#passwdInput.form-control.shadow-sm.p-3.mb-5.bg-white.rounded(type='password', placeholder='Wprowadź hasło')
        .row.justify-content-center
            .col-md-4
                button.btn.btn-outline-primary(type='submit') Submit

include ./templates/footer