include ./templates/header
link(rel="stylesheet", href="css/mapStyle.css")
link(rel="stylesheet", href="css/mainStyle.css")
include ./templates/navbar

.container.my-5.p-5
    p.display-4.mb-1 Photo blog
    hr.mt-1.mb-4
    p.mb-5.px-1   &nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, commodi. Deserunt consequuntur exercitationem nam voluptate repellendus, officia at eligendi rerum nisi non doloribus unde accusamus quasi praesentium, velit maiores aliquam.Ipsam, inventore. Laboriosam autem aut, provident soluta, temporibus, beatae repellendus iure reiciendis a eius quasi quae distinctio aliquid tenetur ex explicabo doloremque repudiandae. Excepturi autem, corrupti cum reiciendis cumque nesciunt.
    #photoMap.img-fluid.shadow.p-3.mb-5.bg-white.rounded

#markerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='markerModalLabel', aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
        .modal-content
            .modal-header
                h5#markerModalLabel.modal-title.h1 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body.row-fluid
                #modalBody.text-center
                hr
                p#imgDescr
                hr
                .comments#comments      
                span#formSpan
                    form
                        .form-group
                            label(for='loginInput') Login 
                            input#loginInput.form-control(name="userName", type='text',  placeholder='Wprowadź nazwę użytkownika')
                        .form-group
                            label(for='commentArea') Komentarz
                            textarea#commentArea.form-control(name="comment", rows="3")
                        button#addComBtn.btn.btn-outline-success(type='submit') Dodaj
            .modal-footer
                .col-4
                    button#commBtn.btn.btn-outline-info.float-right(type='button') Skomentuj
                .col-5
                .col-3
                    button.btn.btn-outline-secondary(type='button', data-dismiss='modal') Close
            

script(src="js/mapScript.js")
script(src="js/mainScript.js")


include ./templates/footer