@media (max-width: 575px) {
  #photoMap {
    height: 512px;
  }
}
@media (min-width: 576px) {
  #photoMap {
    height: 512px;
  }
}

@media (min-width: 768px) {
  #photoMap {
    height: 768px;
  }
}

@media (min-width: 992px) {
  #photoMap {
    height: 768px;
  }
}

@media (min-width: 1200px) {
  #photoMap {
    height: 768px;
  }
}
#formSpan {
  display: none;
}
