/* Background pattern from Toptal Subtle Patterns */
@media (min-width: 576px) {
  #photoMap {
    height: 256px;
    width: 512px;
  }
}

@media (min-width: 768px) {
  #photoMap {
    height: 384px;
    width: 768px;
  }
}

@media (min-width: 992px) {
  #photoMap {
    height: 512px;
    width: 1024px;
  }
}

@media (min-width: 1200px) {
  #photoMap {
    height: 640px;
    width: 1280px;
  }
}
#formSpan {
  display: none;
}
