@media (max-width: 575px) {
  #photoMap {
    height: 256px;
  }
}
@media (min-width: 576px) {
  #photoMap {
    height: 382px;
  }
}

@media (min-width: 768px) {
  #photoMap {
    height: 382px;
  }
}

@media (min-width: 992px) {
  #photoMap {
    height: 512px;
  }
}

@media (min-width: 1200px) {
  #photoMap {
    height: 512px;
  }
}
.img {
  transition: all 250ms;
}
.img {
  height: 124px !important;
  margin: 16px;
}
.link:hover {
  cursor: pointer;
}
.img:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.imgContainer {
  position: relative;
  text-align: center;
  color: white;
}
.top-let {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.img-border {
  border: 2px solid green;
  height: 124px !important;
  margin: 16px;
}
.preview {
  height: 512px !important;
}
