body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='#') Navbar
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/')
                        | Home 
                if(log.status === true)
                    li.nav-item
                        a.nav-link(href='/admin/nowy-wpis')
                            | Dodaj nowy wpis
                    li.nav-item
                        a.nav-link(href='/admin/wszystkie-wpisy')
                            | Przeglądaj wpisy
            if(log.status === true)
                form(method="POST", action="/wyloguj")
                    button.btn.btn-outline-danger Wyloguj
            else
                a.btn.btn-outline-success(href='/logowanie')
                    | Zaloguj się